@font-face {
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(250, 250, 250, 1);
    font-family: "Roboto Light";
    color: rgba(30, 30, 30, 1);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background: rgba(30, 30, 30, 1);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: rgba(240, 240, 240, 1);
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

text {
    font-size: 10px;
}

content {
    flex: 1;
    min-height: 100%;
    margin-top: 50px;
    padding: 25px;
}

#info {
    position: fixed;
    height: 40px;
    padding: 5px;
    background-color: rgba(30, 30, 30, 1);
    color: rgba(250, 250, 250, 1);
    line-height: 20px;
    font-size: 12px;
}

.bar {
    fill: rgb(124, 114, 191);
}

.bar:hover {
    cursor: pointer;
    fill: rgb(134, 191, 114);
}

.axis text {
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

/* used for user-visualization */
svg .link {
  stroke: #aaa;
}

.node {
    cursor: pointer;
}

.node text {
stroke:#333;
cursor:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}

/* end user-visualization */