
<div id="explationSpam" style="margin-top:150px">
<p><code style="font-size: 100%">Vorgehen zur Beschaffung obiger Daten: Anwendung von <strong>MapReduce</strong> auf den Rohdatensatz, welches die Vorkomnisse aller Werte von <strong>"request"</strong> zählt. Anschließende Filterung mit Hilfe von <strong>regular expressions</strong> um für diese Statistik irrelevante Daten (.css / .js / .png/ .gif) zu exkludieren. Um die Relation zu bewahren fließen die Aufrufe der Startseite ebenfalls nicht ein. Zur Veranschaulichung ein Auszug der ungefilterten Ergebnisse von MapReduce (external traffic):</code></p>

<pre style="font-size: 17px !important">
                    </br>
                        "_id" : "/res/css/style.css", "value" : 392067 }
                        "_id" : "/res/js/jquery.js", "value" : 364620 }
                        "_id" : "/res/js/page/content.js", "value" : 363263 }
                        "_id" : "/res/lightbox/jquery.lightbox.js", "value" : 353640 }
                        "_id" : "/res/js/jquery-ui-tooltip.min.js", "value" : 261108 }
                        "_id" : "/res/js/jquery.tabs.js", "value" : 234725 }
                        <strong>"_id" : "/", "value" : 117219 }   <-- Index.html --></strong>
                        "_id" : "/res/js/bootstrap.min.js", "value" : 104830 }
                        "_id" : "/res/js/jquery-ui-datepicker.js", "value" : 100777 }
                        "_id" : "/res/js/page/home.js", "value" : 98359 }
                        "_id" : "/res/js/jquery-ui-draggable.min.js", "value" : 98174 }
                        "_id" : "/res/css/bootstrap.min.css", "value" : 94775 }
                        "_id" : "/favicon.ico", "value" : 84307 }
                        "_id" : "/res/pics/linie_horizontal.png", "value" : 79705 }
                        "_id" : "/res/pics/linie_vertikal.png", "value" : 79589 }
                        "_id" : "/res/pics/logo_zwischenseite.gif", "value" : 68017 }
                        "_id" : "/res/pics/footer_header.png", "value" : 65924 }
                        "_id" : "/res/pics/hintergrundbild_zwischenseite.png", "value" : 65904 }
                        "_id" : "/res/pics/footer_arrow.png", "value" : 65799 }
                        "_id" : "/res/pics/info.gif", "value" : 65566 }
                    </pre>
</div>